*:focus {
	outline: none;
}
input[type="submit"], button[type="submit"] {
	-webkit-appearance: none;
}

/* Define custom styles, relative to custom-editor.css */
/*h1 {
	font-family: 'Comfortaa' !important;
	font-size: 30px !important;
}*/

/* Shadow border */
:root {
  --uk-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
  --uk-shadow-hover: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --color-red: #f81a00;
}
.uk-shadow {
    box-shadow: var(--uk-shadow) !important;
    transition: all 0.4s ease-out 0;
    -webkit-transition: all 0.4s ease-out 0s;
    border-radius: 10px;
    margin-bottom: 24px !important;
    overflow: hidden;
}
.uk-shadow:hover {
    box-shadow: var(--uk-shadow-hover) !important;
}

/* Reverse primary color button */
.btn.btn-reverse {
    background: white !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.btn.btn-reverse:hover {
    background: var(--primary-color) !important;
    color: white !important;
    border: 1px solid white !important;
}


.forum-admin-features {
	display: none !important;
}

a.btn, span.btn, label.btn, form button, input[type="submit"], .Actions .action {
	color: white !important;
}

img.leftAlone, .captionImage.leftAlone {
    margin: 0 !important;
    float: unset !important;
    max-width: 100% !important;
}

.promote-list {
	display: none;
}

/* SMALL USER MENU ICONS */
#header .nav-utils a {
	width: 50px !important;
	font-size: 18px !important;
}

/* MEDIUM LOGO */
#header .logo-horizontal {
	padding: 0px !important;
}

#header .brand {
    width: 250px !important;
}
#header .nav-wrap {
    left: 250px !important;
    right: 150px !important;
}

#header .logo-horizontal img {
	height: 59px !important;
	max-height: 60px;
}

#footer {
    background: var(--secondary-color) !important;
}
#footer a {
    color: var(--primary-color) !important;
}
#footer .footer-socials {
    background: url(/assets/SiteConfig/FooterImage/GL20-GUIDES-COMPOST-ILLUS-14.png) no-repeat right center;
    background-size: contain;
    height: 100px;
}

#Forum #Breadcrumbs {
	display: none !important;
}

body {
    font-size: 15px !important;
}
header {
    font-size: 14px !important;
}

.leadIn {
    background: unset !important;
    border: unset !important;
    color: unset;
}

#footer {
    border-top: unset !important;
}

.SocialShare svg {
    fill: var(--primary-color) !important;
}

.Image.Cover img {
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.Banner .Title {
    font-family: 'Olivier';
    font-size: 30px !important;
    line-height: 20px !important;
    color: var(--color-red) !important;
    padding-top: 5px;
}

@media (min-width: 768px) {
	.nav-wrap li.MenuForceInline a {
		line-height: 20px !important;
	    padding-top: 10px !important;
	}
}
